<div class="content">
    
    <h1><span><%=@task.content%></span>に手順の追加</h1>
   
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <%= form_with(model: @procedure, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            
            <%= f.label :content, '手順名' %>
            <%= f.text_field :content, class: "form_control" %>
          </div>

          <div class="form-group">
            
            <%= f.label :deadline, '手順の期限設定' %>
            <%= f.date_select :deadline, {include_blank: true, use_month_numbers: true} %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-primary' %>
        <% end %>
        <%=link_to "タスク詳細に戻る", task_path(@task), class: "mt-4 btn btn-success"%>
      </div>
      
    </div>
</div>
